# Z prehliadača sú dostupné len cena.php a partner.php
<FilesMatch "^(?!(cena|partner)\.php$).*">
  <IfModule mod_authz_core.c>
    Require all denied
  </IfModule>
  <IfModule !mod_authz_core.c>
    Order allow,deny
    Deny from all
  </IfModule>
</FilesMatch>
